[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/app/src/
Environment="PATH=/home/admin/app/env/bin"
EnvironmentFile=/home/amdin/.env
ExecStart=/home/admin/app/env/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target